@model List<HG.Entities.Entities.DanhMuc.DonVi.dm_dia_ban>;
				<label class="col-md-4 control-label">Xã/Phường&nbsp;<span id="" style="color:Red;">(*)</span>:</label>
				<div class="col-md-4">
					<select name="XaPhuong" id="XaPhuong" style="width:100%;">
						<option selected="selected" value="">Chọn Xã/Phường</option>
						@if (Model != null)
						{
							foreach (var item in Model)
							{
								<option value="@item.ma_dia_ban">@item.ten_dia_ban</option>
							}
						}
					</select>
				</div>