@using HG.WebApp
@model List<HG.Entities.Dm_Don_Vi_Lien_Thong>

<div style="overflow-y: auto;">
    <div id="pnlMain">
        <div>
            <table class="table table-bordered responsive" cellspacing="0" rules="all" border="1" id="ctl02_gridMenu" style="width: 100%; border-collapse: collapse;">
                <tbody>
                    <tr class="widgettitle">
                        <th align="center" scope="col">CHỌN</th>
                        <th scope="col">IP</th>
                        <th scope="col">ĐƠN VỊ</th>
                        <th scope="col">TÊN ĐƠN VỊ</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center">
                                <a href="/DanhMuc/SuaDonViLienThong?code=@item.ma_don_vi&type=@(StatusAction.Edit.ToString())">Chọn</a>
                            </td>
                            <td>
                                @item.Ip
                            </td>

                             <td>
                                @item.ma_don_vi
                            </td>
                             <td>
                                @item.ten_don_vi
                            </td>
                        </tr>
                    }
                    
               
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

</script>