@using HG.WebApp
            <h4 class="widgettitle">Cập nhật thông tin văn bản liên quan</h4>
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <form id="form_vblq" action="/ThuTuc/ThemVBLQ" method="post" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <label for="ma_pb" class="col-sm-2 control-label">Mã văn bản <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" id="ma_thu_tuc" class="form-control input-default"  maxlength="50" name="ma_thu_tuc"  value="">
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal">
                                    Chọn
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Tên văn bản <span style="color:red">(*)</span></label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="250" class="form-control input-default" name="ten_nhom" value="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="mota" class="col-sm-2 control-label">Mô tả</label>
                            <div class="col-sm-8">
                                <textarea class="form-control  input-default" maxlength="250" placeholder="Mô tả" name="mo_ta"></textarea>
                            </div>
                        </div>
                          <div class="row mb-3">
                            <label for="ten_pb" class="col-sm-2 control-label">Đính kèm</label>
                            <div class="col-sm-8">
                                <input type="file" id="files" name="files" style="display: none">
                                <input type="text" id="avatar1" name="avatar" style="display: none">
                                <button type="button" onclick="$('#files').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
                                <img id="avatar" style="margin-top: 10px;" width="100" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="stt" class="col-sm-2 control-label">Thứ tự</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control input-default" name="stt" value="">
                            </div>
                        </div>
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.Add.ToString())">Lưu và thêm</button>
                            <button type="submit" class="btn btn-primary" name="type_view" value="@(StatusAction.View.ToString())">Lưu</button>
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/SuperAdmin/ViewNhom';">Đóng</button>
                        </div>
                    </form>
                </div>

            </div>