@using HG.WebApp
@{
    ViewData["Title"] = "Chức vụ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<HG.Entities.Dm_Chuc_Vu>

<div class="col-lg-12">
    <div class="pageheader">
        <div class="searchbar">
            <input name="" type="text" id="Search" placeholder="Gõ từ khóa và nhấn enter..." />
            <input type="submit" name="" value="" onclick="" id="BtnSearch" hidden="hidden" />
        </div>
        <div class="pageicon"><span class="iconfa-table"></span></div>
        <div class="pagetitle">
            <h5>Danh sách</h5>
            <h1>Chức vụ</h1>
        </div>
    </div>
    <div class="maincontent">
        <div class="maincontentinner">
            <!-- Table with stripped rows -->
            <p class="stdformbutton" style="margin-bottom: 10px;">
                <input type="button" value="Thêm" onclick="window.location.href = '/Danhmuc/ThemChucVu';" class="btn btn-primary" style="width:100px;" />

                <input type="button" value="Xóa" onclick="DeleteMultiple()" class="btn btn-primary" style="width:100px;" />
                <input hidden id="lstCode" />
            </p>

            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns" id="datatable">

                <div class="dataTables_length">
                    <label>
                        Hiển thị
                        <select class="dataTable-selector">
                            <option value="5">5</option>
                            <option value="10" selected="">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select> bản ghi
                    </label>
                </div>
                <div class="dataTable-container">
                    <table class="table table-bordered responsive">
                        <thead class="widgettitle">
                            <tr>
                                <th class="head0 nosort" scope="col" data-sortable="" style="width: 5%;">
                                    <input type="checkbox" name="" id="selectAll" />
                                </th>
                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">STT</th>
                                <th class="head1" scope="col" data-sortable="" style="width: 20%;">TÊN</th>
                                <th class="head0" scope="col" data-sortable="" style="width: 30%;">MÔ TẢ</th>
                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                                <th class="head0" scope="col" data-sortable="" style="width: 5%;">#</th>
                                <th class="head1" scope="col" data-sortable="" style="width: 5%;">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                var stt = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td><input type="checkbox" class="ads_Checkbox" value="@item.ma_chuc_vu" /></td>
                                        <td scope="row">
                                            @stt
                                            <input type="hidden" name="" id="" value="@item.ma_chuc_vu" />
                                        </td>
                                        <td><a href="/DanhMuc/SuaChucVu?code=@item.ma_chuc_vu&type=@(StatusAction.View.ToString())">@item.ten_chuc_vu</a></td>

                                        <td>@item.mo_ta</td>
                                        <td>
                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Xem" href="/DanhMuc/SuaChucVu?code=@item.ma_chuc_vu&type=@(StatusAction.View.ToString())">
                                                <span class="glyphicon glyphicon-list-alt">Xem</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a id="" title="" data-placement="top" data-toggle="tooltip" data-original-title="Sửa" href="/DanhMuc/SuaChucVu?code=@item.ma_chuc_vu&type=@(StatusAction.Edit.ToString())">
                                                <span class="glyphicon glyphicon-edit">Sửa</span>
                                            </a>
                                        </td>
                                        <td>
                                            <a onclick="confirm.BeforDeletePost('/DanhMuc/XoaChucVu?code=@item.ma_chuc_vu')"
                                       title=""
                                       data-placement="top"
                                       data-toggle="tooltip"
                                       data-original-title="Xóa"
                                       href="#">
                                                <span class="glyphicon glyphicon-trash">Xóa</span>
                                            </a>
                                        </td>
                                    </tr>
                                    stt++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="dataTable-bottom">
                    <div class="dataTable-info">Showing 1 to 5 of 5 entries</div>
                    <nav class="dataTable-pagination">
                        <ul class="dataTable-pagination-list"></ul>
                    </nav>
                </div>

                <!-- End Table with stripped rows -->

            </div>
        </div>

    </div>
</div>
<script>
    function GetListByCurrentPage(id) {
          $.ajax({
                 type: "GET",
                 url: "../DanhMuc/PhongBanPaging?CurrentPage="+id,
                 data: "",
                 contentType: 'application/json; charset=utf-8',
                 success: function(data) {
                        $("#datatable").html(data);
                       }
                 });                                                              
    }

    function DeleteMultiple() {
        var listData = $("#lstCode").val();
        confirm.BeforDeletePost('/DanhMuc/XoaChucVu?code=' + listData)
    }

    $(function() {
        $('#selectAll').click(function() {
            var val = [];
            if ($(this).is(':checked')) {
                $(".ads_Checkbox").prop("checked", true);
                $(':checkbox:checked').each(function(i) {
                    if (i > 0) {
                        val[i - 1] = $(this).val();
                    }
                });
            }
            else {
                $(".ads_Checkbox").prop("checked", false);
                val = [];
            }
            $("#lstCode").val(val);
        });


        $('.ads_Checkbox').click(function() {
            var val = [];
            $(':checkbox:checked').each(function(i) {
                if ($('#selectAll').is(':checked')) {
                    if (i > 0) {
                        val[i - 1] = $(this).val();
                    }
                } else {
                    val[i] = $(this).val();
                }

            });
            $("#lstCode").val(val);
        });

    });
</script>
