<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/BackEnd/Admin/plugin/style.css" rel="stylesheet">
  <link href="/BackEnd/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
  <title>Document</title>

    <!-- Template Main CSS File -->
    <script src="/BackEnd/assets/vendor/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/BackEnd/Admin/Js/JQuery/jquery.validate.js"></script>
    <script src="/BackEnd/assets/vendor/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/BackEnd/Admin/plugin/select2/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.3/bootbox.min.js"></script>
    <script src="/BackEnd/Admin/Js/common/common.js"></script>
</head>

<body>
  <section class="banner-box">
    <div class="banner-top">
      <a class="logo" href="/">
        <img src="~/BackEnd/assets/img/logo3.png" class="img-fluid" alt="logo" style="float: left;">
      </a>
      <div class="title-logo">
        <p class="title">CỔNG DỊCH VỤ CÔNG TỈNH HÀ GIANG</p>
        <br>
        <p class="link">dichvucong.hagiang.gov.vn</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>
  <!-- Thanh navbar -->
  <section>
    <nav class="navbar navbar-expand-lg navbar-dark py-0">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/view/trang-chu.html">TRANG CHỦ <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/thu-tuc.html">THỦ TỤC HÀNH CHÍNH <span class="sr-only"></span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link link-toggle" href="/view/gui-hs-thpt.html">GỬI HỒ SƠ</a>
            <a class="dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Bạn chưa đăng nhập, bấm vào đây để đăng nhập lại</a>
                <a class="dropdown-item" href="/GuiHoSo/ThemTuyenSinhCapMamNon">Gửi hồ sơ tuyển sinh cấp mầm non</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TRA CỨU HỒ SƠ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ĐÁNH GIÁ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link link-toggle" href="#">BÁO CÁO - THỐNG KÊ</a>
            <a class="dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Báo cáo tỏng hợp</a>
              <a class="dropdown-item" href="#">Thống kê tổng hợp</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GÓP Ý</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PHẢN ÁNH KIẾN NGHỊ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link link-toggle" href="#">TRỢ GIÚP</a>
            <a class="dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">THANH TOÁN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LIÊN KẾT</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <!-- Quảng cáo -->
  <div class="container-fluid">
    <section class="n-content">
      <div class="row">
        <div class="col-xs-4 col-md-6">
          <a href="#">
            <img class="img-ad" src="~/BackEnd/assets/img/sample_img.png" /></a>
          <a href="#">
            <img class="img-ad" src="~/BackEnd/assets/img/sample_img.png" /></a>
        </div>
        <div class="col-md-12 col-xs-8">
          <div id="slideshow">
            <div id="slideshowWindow"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Đăng nhập/ Đăng ký -->
    <section class="main-content pt-1">
      <div class="row">
        <!-- Danh sách tin mới nhất -->
        <div class="column-left col-xs-12 col-sm-4 col-lg-3 my-3">
          <div class="news-title top-title-frame">
            <p>DANH SÁCH TIN MỚI NHẤT</p>
          </div>
          <div class="news-list">
            <ul class="list_news_ul">
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
              <li class="list_news_li">
                <a class="list_news_a" href="#">Lorem ipsum dolor sit ameted consectetur adipisicing elit. Lorem ipsum
                  dolor sit ameted consectetur adipisicing elit.
                </a>
              </li>
            </ul>
            <a class="view-more-news" href="#" title="Xem danh sách tin đầy đủ">
              <img src="~/BackEnd/assets/img/viewmore-hover.png" /></a>
          </div>

          <div class="box-stastistic">
            <div class="statistic-title top-title-frame">
              <p>THỐNG KÊ TRUY CẬP</p>
            </div>
            <div class="statistic-inner">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                  <tr>
                    <td style="width:50%; padding-left:10px">
                      Đang online:</td>
                    <td style="width:50%">
                      2766</td>
                  </tr>
                  <tr>
                    <td style="width:50%; padding-left:10px">
                      Hôm nay:</td>
                    <td style="width:50%">
                      8,783</td>
                  </tr>
                  <tr>
                    <td style="width:50%; padding-left:10px">
                      Hôm qua:</td>
                    <td style="width:50%">
                      6,347</td>
                  </tr>
                  <tr>
                    <td style="width:50%; padding-left:10px">
                      Tuần này:</td>
                    <td style="width:50%">
                      38,744</td>
                  </tr>
                  <tr>
                    <td style="width:50%; padding-left:10px">
                      Tuần trước:</td>
                    <td style="width:50%">
                      40,535</td>
                  </tr>
                  <tr>
                    <td style="width:50%; padding-left:10px">
                      Tháng này:</td>
                    <td style="width:50%">
                      116,478</td>
                  </tr>
                  <tr>
                    <td style="width:50%; padding-left:10px">
                      Tháng trước:</td>
                    <td style="width:50%">
                      97,107</td>
                  </tr>
                  <tr>
                    <td style="width:50%; padding-left:10px">
                      Tất cả:</td>
                    <td style="width:50%">
                      400,387</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- NỘi DUNG TIN -->
        <div class="col-xs-12 col-sm-8 col-lg-9 my-3">
          @*<div class="news-content top-title-frame">
            <p>NỘI DUNG TIN</p>
          </div>*@
          @RenderBody()
        </div>
      </div>
    </section>
  </div>

  <!-- Toolbox -->
  <div class="tool_box">
    <div class="box-new box4 text-center" style="margin-bottom: 5px!important">
      <img src="~/BackEnd/assets/img/1.png">
    </div>
    <div class="box-new box4 text-center" style="margin-bottom: 5px!important">

      <img src="~/BackEnd/assets/img/2.png">
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="web-fter container">
      <h5>CỔNG DỊCH VỤ CÔNG TỈNH HÀ GIANG</h5>
      <p>CƠ QUAN CHỦ QUẢN: VĂN PHÒNG UBND TỈNH HÀ GIANG</p>
      <p>Email: vpubnd@hagiang.gov.vn</p>
    </div>
  </footer>
  <!-- Back to top button -->
  <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
  </button>

  <!-- JS -->
  @*  <script src="/BackEnd/assets/vendor/jquery/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
    <script src="/BackEnd/assets/vendor/jquery/popper.min.js" type="text/javascript"></script>
    <script src="/BackEnd/assets/vendor/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/d4f4e734fe.js" crossorigin="anonymous"></script>
    <script src="/BackEnd/assets/js/backToTop.js" type="text/javascript"></script>*@
  
     <script src="/BackEnd/assets/vendor/jquery/popper.min.js" type="text/javascript"></script>

      <script src="/BackEnd/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/BackEnd/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/BackEnd/assets/vendor/chart.js/chart.min.js"></script>
    <script src="/BackEnd/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/BackEnd/assets/vendor/quill/quill.min.js"></script>
    <script src="/BackEnd/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/BackEnd/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/BackEnd/assets/vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="/BackEnd/assets/js/main.js"></script>
    <script src="/BackEnd/Admin/Js/JQuery/jquery.validate.js"></script>
</body>

</html>