<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminED | Tech (v2)</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/BackEnd/Admin/Css/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="~/BackEnd/Admin/Css/icheck-bootstrap/icheck-bootstrap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/BackEnd/Admin/Css/adminlte.min.css">
  <link rel="stylesheet" href="~/BackEnd/Admin/Js/notifications/notification.css"  />
  <script src="~/BackEnd/Admin/Js/JQuery/jquery.min.js"></script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    @RenderBody()


  <!-- /.card -->
</div>
<!-- /.login-box -->

<!-- jQuery -->

<!-- Bootstrap 4 -->
<script src="~/BackEnd/Admin/Js/Bootstrap/bootstrap.bundle.js"></script>
<!-- AdminLTE App -->
<script src="~/BackEnd/Admin/Js/notifications/notify.min.js"></script>
<script src="~/BackEnd/Admin/Js/notifications/notify-metro.js"></script>
<script src="~/BackEnd/Admin/Js/notifications/notifications.js"></script>
</body>
</html>
