@model HG.Entities.Entities.ThuTuc.ThuTucPaging
@{
        var isFilter = ViewBag.LaTimKiem as string;
 }
@if(isFilter == "LaTimKiem")
{
     <div class="row mb-3">
        <label for="inputPassword" class="col-md-2 control-label" style="text-align: right">Thủ tục</label>
        <div class="col-md-8">
               <select name="ma_thu_tuc" id="ma_thu_tuc" onchange="HoSoPaging(this)" class="form-control input-default">
                   <option value="" selected>-Chọn thủ tục-</option> 
                    @if(Model != null && Model.lstThuTuc != null)
                    {
                         foreach (var item in Model.lstThuTuc)
                         {
                              <option value="@item.ma_thu_tuc">@item.ten_thu_tuc</option>
                         }
                    }
               </select>
        </div>
    </div>
}
else
{
        <label for="inputPassword" class="col-sm-1 control-label" style="text-align: right">Thủ tục</label>
        <div class="col-sm-11">
               <select name="ma_thu_tuc_hc" id="ma_thu_tuc_hc" onchange="GetLuongByTTHC(this)" class="form-control input-default">
                   <option value="" selected>-Chọn thủ tục-</option> 
                    @if(Model != null)
                    {
                         foreach (var item in Model.lstThuTuc)
                         {
                              <option value="@item.ma_thu_tuc">@item.ten_thu_tuc</option>
                         }
                    }
               </select>
        </div>
}

    