    @model HG.Entities.Entities.ThuTuc.ThuTucPaging
        <label for="inputPassword" class="col-sm-1 control-label" style="text-align: right">Thủ tục</label>
        <div class="col-sm-11">
               <select name="ma_thu_tuc" id="ma_thu_tuc" onchange="GetLuongByTTHC(this)" class="form-control input-default">
                   <option value="" selected>-Chọn thủ tục-</option> 
                    @if(Model != null)
                    {
                         foreach (var item in Model.lstThuTuc)
                         {
                              <option value="@item.ma_thu_tuc">@item.ten_thu_tuc</option>
                         }
                    }
        </select>
        </div>
    