
@{
    ViewData["Title"] = "AddReview";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link rel="stylesheet" href="~/BackEnd/Client/Css/page5.css" />
<script src="//cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
@*<script src="https://www.google.com/recaptcha/api.js?render=6LeyPDoeAAAAAP8wqV2lnm_LvnfXVQBnnmkelDi"></script>
<script>
    grecaptcha.ready(function() {
    // do request for recaptcha token
    // response is promise with passed token
        grecaptcha.execute('6LeyPDoeAAAAAP8wqV2lnm_LvnfXVQBnnmkelDi', {action:'validate_captcha'})
                  .then(function(token) {
            // add token value to form
            document.getElementById('g-recaptcha-response').value = token;
        });
    });
</script>*@


<form action="/Review/AddReview" method="post" class="review__linting" id="review__linting">
         <input type="text" name="ListtingID" id="IdListting" value="@ViewBag.IdListting" hidden>
             <input type="text" name="Rating" id="Rating" value="5"  hidden>
             @*<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">*@
        <div class="review_for">
          <span>Reviews for:</span>
          <span><b>@ViewBag.NameListting</b></span>
        </div>
        <div class="rate__">
          <span>Rate: </span>
          <div id="SelectRate">
            <img src="~/BackEnd/Client/images/Listing/star_yellow.png" id="rate1"  onclick="OnRateClick(1)" alt="" />
            <img src="~/BackEnd/Client/images/Listing/star_yellow.png" id="rate2" onclick="OnRateClick(2)" alt="" />
            <img src="~/BackEnd/Client/images/Listing/star_yellow.png" id="rate3" onclick="OnRateClick(3)" alt="" />
            <img src="~/BackEnd/Client/images/Listing/star_yellow.png" id="rate4" onclick="OnRateClick(4)" alt="" />
            <img src="~/BackEnd/Client/images/Listing/star_yellow.png" id="rate5" onclick="OnRateClick(5)" alt="" />
          </div>
        </div>
        <div class="title__">
          <p>TITLE</p>
          <input type="text" name="Title" id="Title" />
        </div>
        <div class="content__">
          <p>CONTENT</p>
          <div class="add__media">
            <img src="~/BackEnd/Client/images/dashicons_admin-media.png" alt="" />
            <span style="cursor: pointer" onclick="AddImageEditor()">Add media</span>
             <input type="file" id='fileEditor' hidden>
          </div>
          <input id="Description" name="Description"/>
        </div>
        <div class="photo__">
          <p>PHOTO</p>
          <div class="photo__file" id="photo__file">
            <span>Link file</span>
            <span>Date</span>
          </div>
          <hr />
           <div class="photo__file" id="photo__file2">
            <input id="IMGPath" hidden>
            <span id="Comment" name="Comment" hidden>Filename2</span>
            <span name="" hidden>Date</span>
          </div>
          <hr />
        </div>
        <div class="file__">
          <input type="file" name="FileSeconds" id="fileEditor3" />
          <p>Maximum file size 2MB.</p>
          <p>Supported file formats: gif, jpeg, jpg, png</p>
        </div>
        <div class="button__">
          <button type="submit" class="post__review">POST REVIEW</button>
          <div style="cursor: pointer" onclick="#" class="cancel__">CANCEL</div>
        </div>
      </form>
       <script src="~/BackEnd/Admin/Js/JQuery/jquery.min.js"></script>
     <script src="~/BackEnd/Admin/Js/JQuery/jquery.validate.js"></script>
       <script src="~/BackEnd/Admin/Js/Validate/review.js"></script>

      <script>
       
         
         $(document).ready(function () {
               review.validateForm();
                CKEDITOR.replace("Description", {
                    language: 'en',
                     filebrowserBrowseUrl : '/BackEnd/ckfinder/ckfinder.html',
                     filebrowserImageBrowseUrl : '/BackEnd/ckfinder/ckfinder.html?Type=Images',
                     filebrowserFlashBrowseUrl : '/BackEnd/ckfinder/ckfinder.html?Type=Flash',
                    height: 350
                });
                CKEDITOR.editorConfig = function( config ) {
                    // Define changes to default configuration here. For example:
                    // config.language = 'fr';
                    config.uiColor = '#AADC6E';
                    config.removeButtons = 'Source';
                };
                
                $("#fileEditor").on('change', function () {
                    // Checking whether FormData is available in browser
                    if (window.FormData !== undefined) {
                        var fileUpload = $(this).get(0);
                        var files = fileUpload.files;
                        // Create FormData object
                        var fileData = new FormData();
                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }
                        // Adding one more key to FormData object
                        fileData.append('username', 'Manas');
                        $.ajax({
                            url: '/Upload/UploadFilesReviews?folder=Reviews&Id='+ $("#IdListting").val() ,
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result) {
                                console.log(result);
                                $(this).val('');
                                for (var i = 0; i < result.files.length; i++) {
                                    CKEDITOR.instances['Description'].insertHtml('<img src="' + result.files[i] + '">');
                                    //CKEDITOR.instances.editor.insertHtml('<img src="' + result.files[i] + '">');
                                    //ClassicEditor.instances['editor'].insertHtml('<img src="' + result.files[i] + '">');
                                      //$('#view-card').attr('src', result.files[i]);
                                      //$('#ImagePath').val(""+result.files[i]+"");
                                }
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    } else {
                        alert("FormData is not supported.");
                    }
                });
                 $("#fileEditor3").on('change', function () {
                    // Checking whether FormData is available in browser
                    if (window.FormData !== undefined) {
                        var fileUpload = $(this).get(0);
                        var files = fileUpload.files;
                        // Create FormData object
                        var fileData = new FormData();
                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }
                        // Adding one more key to FormData object
                        fileData.append('username', 'Manas');
                        $.ajax({
                            url: '/Upload/UploadFilesReviews?folder=ReviewsFile&Id='+ $("#IdListting").val() ,
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result) {
                                var today = new Date();
                                var datetoday = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                                var htm = "";
                                for (var i = 0; i < result.files.length; i++) {
                                    $('#IMGPath').val(""+result.files[i]+"");
                                    htm += "<span id='Comment' name='Comment' >"+result.names[i]+"</span>  <span name=''>"+datetoday+"</span>"
                                    $('#photo__file2').html(htm); 
                                }
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    } else {
                        alert("FormData is not supported.");
                    }
                });
        });              


        function AddImageEditor(){
              document.getElementById('fileEditor').click();
        }
        function OnRateClick(abc){
            var htm = "";
            for(var a = 1; a <= 5; a++){
                if(a <= parseInt(abc)){
                    htm += "<img src='/BackEnd/Client/images/Listing/star_yellow.png' id='rate"+a+"'  onclick='OnRateClick("+a+")' alt ='' style = 'padding-left: 5px' />";
                }else{
                    htm += "<img src='/BackEnd/Client/images/Listing/star_white.png' id='rate"+a+"'  onclick='OnRateClick("+a+")'  alt ='' style = 'padding-left: 5px' />";
                }
            }
            $("#Rating").val(abc);
            $("#SelectRate").html(htm);
        }

</script>