@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<style>
    .TableSelect {
        float: left;
        width: 100%;
        border: 1px solid #d1d1d1;
        margin: 15px 0;
    }

    .divFunction {
        float: left;
        padding: 20px 5px;
        width: 50%;
        text-align: center;
    }
    .lblNameFunction {
        float: left;
        height: 44px;
        margin: 0;
        width: 100%;
        font-size: 14px;
        color: blue;
        font-weight: 600;
        text-align: center;
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .div_khaosat_left {
        text-align: right;
    }
    .div_khaosat_right {
        text-align: left;
    }
    /*xem danh gia*/
    .left-khao-sat {
        float: left;
        width: 135px;
        border: 1px solid #d1d1d1;
    }
    .right-khao-sat {
        float: left;
    }
        .lablestyle {
        width: 100%;
    }
</style>
<div class="col-lg-12">
    <div class="maincontent">
        <div class="maincontentinner">
            @*<h4 class="widgettitle">Cập nhật thông tin phòng ban</h4>*@
            <div class="widgetcontent">
                <div class="form-horizontal">
                    <!-- Horizontal Form -->
                    <div>
                        <div class="send-document-top top-title-frame">
                            <p>XEM KẾT QUẢ ĐÁNH GIÁ NHÂN VIÊN</p>
                        </div>
                        <div class="gray-border" style="height: fit-content">
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                    Chọn đơn vị
                                    <p class="red-asterisk">(*)</p>
                                </span>
                                <div class="col-md-8">
                                    <select name="ma_don_vi" id="ma_don_vi" style="width:100%;" onchange="DonViChange(this)">
                                        <option selected="selected" value="">-------Chọn đơn vị-------</option>
                                        @if (ViewBag.LstDonVi != null)
                                        {
                                            var LstDonVi = ViewBag.LstDonVi as List<HG.Entities.DanhMuc.DonVi.dm_don_vi>;
                                            foreach (var item in LstDonVi)
                                            {
                                                <option value="@item.ma_don_vi">@item.ten_don_vi</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <script>
                                function DonViChange(madonvi) {
                                    $.ajax({
                                        type: "GET",
                                        url: "/DichVuCong/LayPhongBanBoiDonVi?ma_don_vi=" + madonvi.value,
                                        data: "",
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (data) {
                                            $("#PhongBan").html(data);
                                        }
                                    });
                                }
                                function XemDanhGiaCanBo() {
                                    if ($('select#ma_phong_ban option:selected').val() == "" || $('select#ma_phong_ban option:selected').val() == 0 || $('select#ma_phong_ban option:selected').val() == undefined) {
                                            alert("Bạn phải chọn đơn vị và phòng ban!");
                                        return false;
                                    }
                                    $.ajax({
                                        type: "get",
                                        url: "/dichvucong/AjaxXemDanhGiaCanBo?ma_phong_ban=" + $('select#ma_phong_ban option:selected').val(),
                                        data: "",
                                        contenttype: 'application/json; charset=utf-8',
                                        success: function (data) {
                                            $("#ViewCB").html(data);
                                        }
                                    });
                                }
                            </script>
                            <div class="form-group form-group-new">
                                <span class="col-md-2 control-label" style="font-weight:bold;">
                                    Chọn phòng ban
                                    <p class="red-asterisk">(*)</p>
                                </span>
                                <div class="col-md-8" id="PhongBan">
                                    <select name="ma_don_vi" id="ma_don_vi" style="width:100%;" onchange="DonViChange(this)">
                                        <option selected="selected" value="">-------Đơn Vị-------</option>
                                        @if (ViewBag.LstDonVi != null)
                                        {
                                            var LstDonVi = ViewBag.LstDonVi as List<HG.Entities.DanhMuc.DonVi.dm_don_vi>;
                                            foreach (var item in LstDonVi)
                                            {
                                                <option value="@item.ma_don_vi">@item.ten_don_vi</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-new">
                                <span class="col-md-5 control-label" style="font-weight:bold;"></span>
                                <div class="col-md-7">
                                    <button style="width:100px; height: 30px; background :#D41F18; color: antiquewhite; border: 0px" onclick="XemDanhGiaCanBo()"> Xem </button>
                                </div>
                            </div>
                            @*View danh gia*@
                            <div class="container-fluid" style="float :left ; width:100%; " id="ViewCB">
                                
                            </div>




                            @*end danh gia*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>






