<div class="logout-info">
    <p>Xin chào: @ViewBag.NameUid</p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
            <i class="drop-icon fa-solid fa-caret-down"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/User/ThongTinCaNhan?username=@User.Identity.Name">Thông Tin cá nhân</a>
            <a class="dropdown-item" href="/User/DoiMatKhau?username=@User.Identity.Name">Đổi mật khẩu</a>
            <a class="dropdown-item" href="/User/LogoutClient">Đăng Xuất</a>
        </div>
    </div>
</div>