
@model List<HG.WebApp.Entities.AspModule>

            @{
                if(Model != null)
                {
                    foreach(var item in Model)
                    {
                         <li class="nav-item">
                            <a href="@item.link" class="nav-link active">
                              <i class="far fa-circle nav-icon"></i>
                              <p>@item.Name</p>
                            </a>
                          </li>
                    }
                }
            }

             
          