@using HG.WebApp
@{
    ViewData["Title"] = "Danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background: #fff;
        border-bottom: 1px solid #fff;
        color: #333;
    }

    .nav-pills .nav-link, .nav-pills .show > .nav-link {
        background: rgba(255,255,255,0.1);
        color: #fff;
        border: 0;
    }


    .nav-pills .nav-link {
        background: 0 0;
        border: 0;
        border-radius: 0;
    }

</style>
<div class="card">
    <div class="card-body">
        <div class="pageheader">
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>THÔNG TIN</h5>
                <h1>Theo dõi hồ sơ</h1>
            </div>
        </div>
        <div class="maincontent">
            <div class="maincontentinner">
                <!-- Pills Tabs -->
                <div class="tab-primary" style="border: 2px solid #0866c6;">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist" style="background: #0866c6;">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link @(ViewBag.active==1?"active":"")" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-tab1" role="tab" aria-controls="pills-home" aria-selected="true">Quản lý hoạt động</button>
                        </li>
                        <li class="nav-item ui-state-default ui-corner-top" role="presentation">
                            <button class="nav-link @(ViewBag.active==2?"active":"")" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-tab2" role="tab" aria-controls="pills-profile" aria-selected="false">Cập nhật nội dung thông báo</button>
                        </li>

                    </ul>

                    <div class="tab-content" id="myTabContent" style="padding: 15px;">
                        @*TAB Cập nhật phiên làm việc*@
                        <div class="tab-pane fade @(ViewBag.active==1?"show active":"")" id="pills-tab1" role="tabpanel" aria-labelledby="home-tab">

                            <div id="ctl08_UpdatePanel1">                             
                                <div class="row mb-3">
                                    <label class="col-md-3 control-label" style="text-align: right">Hẹn trả từ ngày :</label>
                                    <div class="col-md-3">
                                        <input name="" type="date" id="fromhsshh" class="form-control input-default-sm datepicker hasDatepicker" autocomplete="off">
                                        <span id="ctl08_ctl01" style="color:Red;font-size:11px;display:none;">sai định dạng dd/mm/yyyy</span>
                                    </div>
                                    <label class="col-md-2 control-label" style="text-align: right">đến ngày:</label>
                                    <div class="col-md-3">
                                        <input type="date" id="tohsshh" class="form-control input-default-sm datepicker hasDatepicker" autocomplete="off">
                                        <span id="ctl08_ctl02" style="color:Red;font-size:11px;display:none;">sai định dạng dd/mm/yyyy</span>
                                    </div>
                                </div>
                                <div class="text-center mb-3">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="button" value="Hiển thị" onclick="FindHsSapHetHan()" class="btn btn-primary">
                                        <input type="button" value="Xuất Excel" onclick="HsSapHetHanExcel()" id="ctl08_btn_tab1_XuatExcel" class="btn btn-primary">
                                    </div>
                                </div>
                                <div id="hs_sap_het_han">
                                </div>

                            </div>

                        </div>
                        @*TAB thông tin chuyên viên online *@
                        <div class="tab-pane fade @(ViewBag.active==2?"show active":"")" id="pills-tab2" role="tabpanel" aria-labelledby="profile-tab">
                            <div id="ctl08_tab2">
                                <div class="form-horizontal">
                                    <div class="row mb-3">
                                        <label class="col-md-3 control-label" style="text-align: right">Tiếp nhận từ ngày :</label>
                                        <div class="col-md-3">
                                            <input type="date" id="fromhsctn" class="form-control input-default-sm datepicker hasDatepicker" autocomplete="off">

                                        </div>
                                        <label class="col-md-2 control-label" style="text-align: right">đến ngày:</label>
                                        <div class="col-md-3">
                                            <input type="date" id="tohsctn" class="form-control input-default-sm datepicker hasDatepicker" autocomplete="off">

                                        </div>
                                    </div>
                                    <div class="text-center mb-3">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="button" value="Hiển thị" onclick="FindHsChamTiepNhan()" class="btn btn-primary">
                                            <input type="button" value="Xuất Excel" onclick="HsChamTiepNhanExcel()" class="btn btn-primary">
                                        </div>
                                    </div>
                                    <div id="hs_cham_tiep_nhan">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Pills Tabs -->

    </div>
</div>
<script>
    function GetListByCurrentPage(id) {
        var from = $("#fromhsshh").val();
        var to = $("#tohsshh").val();
        $.ajax({
            type: "GET",
            url: "../TheoDoiHoSo/HSSapHetHanPaging?from=" + from + "&to=" + to + "&page=" + id,
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                // console.log(data);
                $("#hs_sap_het_han").html(data);
            }
        });
    }



    function FindHsSapHetHan() {
        var from = $("#fromhsshh").val();
        var to = $("#tohsshh").val();
        $.ajax({
            type: "GET",
            url: "../TheoDoiHoSo/HSSapHetHanPaging?from=" + from + "&to=" + to + "&page=1",
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                //console.log(data);
                $("#hs_sap_het_han").html(data);
            }
        });
    }

    function HsSapHetHanExcel() {
        var from = $("#fromhsshh").val();
        var to = $("#tohsshh").val();
        var url = "/TheoDoiHoSo/ExportHSSapHetHan?from=" + from + "&to=" + to
        window.location.href = url;
    }

    function FindHsChamTiepNhan() {
        var from = $("#fromhsctn").val();
        var to = $("#tohsctn").val();
        $.ajax({
            type: "GET",
            url: "../TheoDoiHoSo/HSChamTiepNhanPaging?from=" + from + "&to=" + to + "&page=1",
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                //console.log(data);
                $("#hs_cham_tiep_nhan").html(data);
            }
        });
    }

    function HsChamTiepNhanExcel() {
        var from = $("#fromhsctn").val();
        var to = $("#tohsctn").val();
        var url = "/TheoDoiHoSo/ExportHSSapChamTiepNhan?from=" + from + "&to=" + to
        window.location.href = url;
    }

    function GetListByCurrentPage2(id) {
        var from = $("#fromhsctn").val();
        var to = $("#tohsctn").val();

        $.ajax({
            type: "GET",
            url: "../TheoDoiHoSo/HSChamTiepNhanPaging?from=" + from + "&to=" + to + "&page=" + id,
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
                // console.log(data);
                $("#hs_cham_tiep_nhan").html(data);
            }
        });
    }

</script>